<div class="text_boxes">
        <div class="text_box1">
            <div >
                <h4>Some header in unknown language.</h4>
                <p>there is a long established fact that reader will get distracted from the page layout while reading.</p>
                <button type="button" class="btn btn-info">More</button>
              </div>
        
            <div >
                <h4>Some header in unknown language.</h4>
                <p>there is a long established fact that reader will get distracted from the page layout while reading.</p>
                <button type="button" class="btn btn-info">More</button>
              </div>
        
            <div>
                <h4>Some header in unknown language.</h4>
                <p>there is a long established fact that reader will get distracted from the page layout while reading.</p>
                <button type="button" class="btn btn-info">More</button> 
              </div>
        </div>
    </div>